@model IEnumerable<MobilesShop.Models.PhoneFeatures>

<form asp-controller="Phone" asp-action="FilterPhoneByName" method="get">
    Name: <input type="text" name="phoneName" value="" />
    <input type="submit" value="Search" />
</form>

<form asp-controller="Phone" asp-action="FilterPhoneByManufacturer" method="get">
    Manufacturer: <input type="text" name="manufacturer" value="" />
    <input type="submit" value="Search" />
</form>

<form asp-controller="Phone" asp-action="FilterPhoneByPrice" method="get">
    From: <input type="number" name="from" value="" />
    To: <input type="number" name="to" value="" />
    <input type="submit" value="Search" />
</form>

@foreach (var item in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>
                    <a asp-controller="Home" asp-action="PhoneDetails" asp-route-id="@item.ID">@item.Name</a>
                </h3>
                <h3 class="pull-right">@item.Price.ToString("c")</h3>
            </div>
        </div>
    </div>
    <br />
}
